Repository jjjermiah/PyDicomSorter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pixi-install, pixi-run-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: Run pixi install
        entry: bash -c 'pixi install & pixi install -e dev & pixi install -e publish'
        language: system
        files: ^src/.*\.py$|^pyproject\.toml$|^pixi\.lock$
      - id: pixi-run-tests
        name: Run pixi tests
        entry: bash -c 'pixi run test'
        language: system
        files: ^src/.*\.py$|^pyproject\.toml$

feat: add precommit
  .pre-commit-config.yaml
  src/pydicomsorter/io.py
  src/pydicomsorter/main.py
  src/pydicomsorter/options.py
  src/pydicomsorter/parser.py
Due: pixi-install, pixi-run-tests

0.6.0
  docs/CHANGELOG.md
  pyproject.toml
Due: pixi-install, pixi-run-tests

fix: some formatting
  src/pydicomsorter/__init__.py
  src/pydicomsorter/io.py
  src/pydicomsorter/main.py
  src/pydicomsorter/options.py
  src/pydicomsorter/sandbox/dicomsort.py
  src/pydicomsorter/tags4format.py
Due: pixi-install, pixi-run-tests

fix: lock
  .pre-commit-config.yaml
Due: none

fix: lock
  pixi.lock
Due: pixi-install

0.6.1
  docs/CHANGELOG.md
  pyproject.toml
Due: pixi-install, pixi-run-tests

fix: update pre-commit with pixi lock
  pixi.lock
Due: pixi-install

fix: update pre-commit with pixi lock
  .pre-commit-config.yaml
  pixi.lock
Due: pixi-install

fix: update pre-commit with pixi lock
  src/pydicomsorter/sandbox/dicomsort 2.py
Due: pixi-install, pixi-run-tests

feat: add pixi lock durin gpre-commit
  .pre-commit-config.yaml
  pixi.lock
Due: pixi-install

0.7.0
  docs/CHANGELOG.md
  pyproject.toml
Due: pixi-install, pixi-run-tests

feat: add basic cli
  .pre-commit-config.yaml
  LICENSE
  README.md
  pixi.lock
  pyproject.toml
  src/pydicomsorter/__init__.py
  src/pydicomsorter/cli.py
  src/pydicomsorter/dicomsort.py
  src/pydicomsorter/io.py
  src/pydicomsorter/main.py
  src/pydicomsorter/parser.py
  src/pydicomsorter/sandbox/dicomsort 2.py
  tests/test_parser.py
  tests/test_say_hello.py
Due: pixi-install, pixi-run-tests

fix: lint and format
  config/ruff.toml
  src/pydicomsorter/cli.py
  src/pydicomsorter/dicomsort.py
  src/pydicomsorter/io.py
  src/pydicomsorter/options.py
  src/pydicomsorter/parser.py
  src/pydicomsorter/sandbox/dicomsort.py
  tests/test_say_hello.py
Due: pixi-install, pixi-run-tests

0.8.0
  docs/CHANGELOG.md
  pyproject.toml
Due: pixi-install, pixi-run-tests

feat: functioning cli
  src/pydicomsorter/cli.py
  src/pydicomsorter/dicomsort.py
  src/pydicomsorter/io.py
Due: pixi-install, pixi-run-tests

fix: lock
  .pre-commit-config.yaml
  pixi.lock
Due: pixi-install

0.9.0
  docs/CHANGELOG.md
  pyproject.toml
Due: pixi-install, pixi-run-tests

fix: version variable
  README.md
  config/releaserc.toml
  pixi.lock
  src/pydicomsorter/__init__.py
Due: pixi-install, pixi-run-tests

0.9.1
  docs/CHANGELOG.md
  pyproject.toml
  src/pydicomsorter/__init__.py
Due: pixi-install, pixi-run-tests

chore: Update .gitignore and .github/workflows/main.yaml
  .github/workflows/main.yaml
  .gitignore
  README.md
  config/ruff.toml
  pixi.lock
  pyproject.toml
  src/pydicomsorter/__init__.py
  src/pydicomsorter/cli.py
  src/pydicomsorter/dicomsort.py
  src/pydicomsorter/io.py
Due: pixi-install, pixi-run-tests

fix: force use the matrix env
  .github/workflows/main.yaml
Due: none

fix: typo
  .github/workflows/main.yaml
Due: none

0.9.2
  docs/CHANGELOG.md
  pyproject.toml
  src/pydicomsorter/__init__.py
Due: pixi-install, pixi-run-tests

chore: Update classifiers in pyproject.toml
  pixi.lock
  pyproject.toml
Due: pixi-install, pixi-run-tests

chore: Update pixi.lock file
  .pre-commit-config.yaml
  pixi.lock
Due: pixi-install

chore: Update Pixi dependency to v0.8.0
  .github/workflows/main.yaml
Due: none

feat: docs
  README.md
Due: none

0.10.0
  docs/CHANGELOG.md
  pyproject.toml
  src/pydicomsorter/__init__.py
Due: pixi-install, pixi-run-tests

feat: add method fxnality
  README.md
  help.svg
  pixi.lock
  pyproject.toml
  src/pydicomsorter/__init__.py
  src/pydicomsorter/cli.py
  src/pydicomsorter/file_list.py
  src/pydicomsorter/io.py
Due: pixi-install, pixi-run-tests

chore: Update import statement in cli.py
  README.md
  assets/help.svg
  pixi.lock
  src/pydicomsorter/cli.py
Due: pixi-install, pixi-run-tests

0.11.0
  docs/CHANGELOG.md
  pyproject.toml
  src/pydicomsorter/__init__.py
Due: pixi-install, pixi-run-tests

feat: add screenshot
  README.md
  assets/help.png
Due: none

0.12.0
  docs/CHANGELOG.md
  pyproject.toml
  src/pydicomsorter/__init__.py
Due: pixi-install, pixi-run-tests

feat: clean up
  .gitignore
  .pre-commit-config.yaml
  pixi.lock
  src/pydicomsorter/cli.py
  src/pydicomsorter/file_list.py
  src/pydicomsorter/io.py
Due: pixi-install, pixi-run-tests

update precommit
  .pre-commit-config.yaml
Due: none

chore: lock
  .pre-commit-config.yaml
  help.svg
  pixi.lock
Due: pixi-install

0.13.0
  docs/CHANGELOG.md
  pyproject.toml
  src/pydicomsorter/__init__.py
Due: pixi-install, pixi-run-tests

feat: Add validation for DICOM keys in DICOMSorter
  config/coverage.toml
  src/pydicomsorter/dicomsort.py
  src/pydicomsorter/io.py
  src/pydicomsorter/options.py
  src/pydicomsorter/sandbox/buildtree.py
  src/pydicomsorter/tags4format.py
  tests/test_dicomsorter.py
  tests/test_options.py
  tests/test_sanitize.py
  tests/test_truncate.py
Due: pixi-install, pixi-run-tests
